{% extends 'tpl/base.html' %}

{% block menu %}
    <div style="background-color: aqua;">
            <ul style="list-style: none; display: -webkit-inline-box ">
                <li>{{ menu }} | </li>
                <li>下载 | </li>
                <li>文档 | </li>
                <li>其他 | </li>
                <li>捐赠</li>
            </ul>
        </div>
{% endblock %}

{% block content %}
    <div>展示: {{ user.show }}</div>
    <div>年龄: {{ user.age }}</div>
    <div>用户名: {{ user.userName }}</div>
    <div>密码: {{ user.password }}</div>
{% endblock %}

